html {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14pt;
  background-color: #f1f1f1;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -1pt;
  margin-bottom: 1rem;
}

em {
  font-family: utopia-std, serif;
  font-weight: 700;
  font-style: italic;
}

h1:hover {
  font-family: utopia-std, serif;
  font-weight: 700;
  font-style: italic;
}
h1:hover em {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}

.body-copy {
  font-family: input-mono-narrow, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 0.75rem;
  width: 50ch;
}
nav {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.column.one {
  flex-grow: 1;
}
.button-container {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
.rule {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
button {
  display: block;
  font-family: utopia-std, serif;
  font-weight: 700;
  font-size: 1rem;
  height: 1.5rem;
  font-style: italic;
}
button:hover {
  font-family: acumin-pro, serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 6px;
}
button.reset {
  background-color: #ffffff;
  height: 4rem;
  width: 4rem;
  border: solid 1px black;
  padding: 0.5rem;
  text-align: center;
  line-height: 0.99rem;
  transition: box-shadow 200ms ease-in-out;
}
button.reset:hover {
  line-height: 0.99rem;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
.button-clicked {
  font-family: acumin-pro, serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 3px;
  text-decoration: underline;
}

.collection-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}

.typeface-visual {
  position: relative;
  font-family: 0.5rem;
  background-color: #ffffff;

  border: 1px solid black;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  transition: all 600ms cubic-bezier(0.83, 0, 0.17, 1);
  height: 100%;
  flex-basis: auto;
  overflow: hidden;
}
.typeface-visual:hover {
  transform: translateY(-20px);
  z-index: 1;
  width: 100% !important;
  height: 100% !important;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 0 0 24px 0px; */
}
.typeface-data {
  position: absolute;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  top: 1rem;
  left: 1rem;
  /* transform: translateX(-50%); */
  opacity: 0;
  background-color: #ffffff;
  transition: opacity 300ms cubic-bezier(0.83, 0, 0.17, 1);
  width: 20ch;
}
.typeface-visual:hover .typeface-data {
  opacity: 1;
}
.typeface-img {
  opacity: 1;
  filter: saturate(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 300ms cubic-bezier(0.83, 0, 0.17, 1);
}
.typeface-visual:hover .typeface-img {
  opacity: 1;
  filter: saturate(1);
}
.tag {
  font-family: input-mono-narrow, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.filter-show {
  display: block;
}

.filter-hide {
  display: none;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 2rem;
    overflow-y: scroll;
  }
  .collection-container {
    display: block;
    height: 200%;
  }
  .body-copy {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  nav {
    align-items: center;
    flex-direction: column;
  }
  .button-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .typeface-visual {
    margin-bottom: 0.5rem;
  }
  .typeface-visual:hover {
    margin-bottom: 0;
    margin-top: 2rem;
    height: 150% !important;
  }
}
